@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
  --color-primary: #00df82;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
