.cta {
  position: relative;
  background-color: #000000;
  padding: 151px 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ctaSection {
  position: relative;
  width: 1307px;
  height: 710px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/cta/elipse.svg");
  /* background-size: 600px 600px; */
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #59ff0042;
  border-radius: 5px;
  backdrop-filter: blur(5.199999809265137px);
  box-shadow: 0 0 28.3px 13px rgba(89, 255, 0, 0.08) inset;
}

.ctaContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  width: 863px;
  z-index: 1;
}

.ctaTitle {
  font-family: Manrope;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 629px;
  font-style: normal;
}

/* .ctaTitleAccent {
  color: #00e284;
} */

.ctaDescription {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 447px;
}

.ctaButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  /* backdrop-filter: blur(5.2px); */
  /* background: rgba(255, 255, 255, 0.1); */
  /* border: 1px solid #ffffff29; */
  /* border-radius: 40px; */
  /* padding: 12px; */
}

.ctaButtonPrimary {
  background: #59ff00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 156px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #030f0f;
  cursor: pointer;
  transition: opacity 0.2s;
}

.ctaButtonPrimary:hover {
  opacity: 0.9;
}

.ctaButtonSecondary {
  background: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  width: 156px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.ctaButtonSecondary:hover {
  opacity: 0.8;
}

.ctaButtonSecondary svg {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
}

/* Responsive Design */

/* 1540x746 */
@media (max-width: 1540px) {
  .cta {
    padding: 90px 238px;
  }

  .ctaSection {
    width: 100%;
    height: 565.018px;
    background-image: url("/cta/elipse1540.svg");
  }

  .ctaContent {
    gap: 22px;
    width: 750px;
  }

  .ctaTitle {
    width: 650px;
    font-size: 54px;
  }

  .ctaDescription {
    width: 386px;
    font-size: 14px;
  }

  .ctaButtons {
    gap: 8px;
    padding: 0;
  }

  .ctaButtonPrimary,
  .ctaButtonSecondary {
    width: 124.145px;
    height: 38.198px;
    font-size: 10px;
    font-weight: 700;
    padding: 0;
  }

  .ctaButtonSecondary svg {
    width: 14px;
    height: 14px;
  }
}

/* 1280x631 */
@media (max-width: 1280px) {
  .cta {
    padding: 81px 267px;
  }

  .ctaSection {
    width: 747px;
    height: 477px;
  }

  .ctaContent {
    gap: 20px;
    width: 650px;
  }

  .ctaTitle {
    font-size: 32px;
    width: 340px;
  }

  .ctaDescription {
    font-size: 12px;
    width: 280px;
  }

  .ctaButtons {
    gap: 7px;
  }

  .ctaButtonPrimary,
  .ctaButtonSecondary {
    width: 105px;
    height: 32px;
    font-size: 10px;
    padding: 0;
  }

  .ctaButtonSecondary svg {
    width: 13px;
    height: 13px;
  }
}

/* 744x1130 (Mobile Portrait) */
@media (max-width: 900px) {
  .cta {
    padding: 80px 0;
  }

  .ctaSection {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 792px;
    padding: 40px 20px;
    background-image: url("/cta/elipse744.svg");
  }

  .ctaContent {
    gap: 30px;
    width: 100%;
    max-width: 100%;
  }

  .ctaTitle {
    font-size: 52px;
    width: 100%;
    max-width: 100%;
  }

  .ctaDescription {
    font-size: 24px;
    width: 100%;
    max-width: 580px;
  }

  .ctaButtons {
    gap: 24px;
    padding: 10px;
    width: 100%;
  }

  .ctaButtonPrimary,
  .ctaButtonSecondary {
    width: 330px;
    height: 83px;
    font-size: 16px;
    padding: 10px;
  }

  .ctaButtonSecondary svg {
    width: 25px;
    height: 26px;
  }
}

/* 480x716 (Small Mobile) */
@media (max-width: 480px) {
  .cta {
    padding: 40px 0;
  }

  .ctaSection {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 318px;
    padding: 10px;
    border: 1px solid #59ff0030;
    border-radius: 9px;
    background-image: url("/cta/elipse1.svg");
    /* background: rgba(27, 27, 27, 0.1); */

    /* box-shadow: 0 0 6.498px 2.985px rgba(42, 194, 147, 0.08) inset; */
    /* backdrop-filter: blur(1.1940189599990845px); */
  }

  .ctaContent {
    gap: 20px;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
  }

  .ctaTitle {
    font-size: 30px;
    width: 100%;
    max-width: 300px;
    text-align: left;
  }

  .ctaDescription {
    width: 100%;
    max-width: 330px;
    text-align: left;
    font-size: 14px;
    color: #8d8d8d;
  }

  .ctaButtons {
    gap: 10px;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .ctaButtonPrimary,
  .ctaButtonSecondary {
    height: 36px;
    width: 100%;
    font-size: 12px;
    padding: 10px;
  }

  .ctaButtonSecondary svg {
    width: 16px;
    height: 16px;
  }
}
