.numbers {
  position: relative;
  background-color: #000000;
  padding: 120px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0 0 24px;
  width: 532px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #a1a1aa;
  margin: 0 0 80px;
  width: 536px;
}

.cards {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1326px;
  justify-content: center;
}

.card {
  position: relative;
  border-radius: 40px;
  width: 422px;
  height: 288px;
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background-size 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  background-size: 100%;
  border: 1px solid #2ac2928a;
  border-radius: 40px;
  transition: border 0.3s cubic-bezier(easeInOut);
}

.card1 {
  background-image: url("/numbers/1.png");
}

.card2 {
  background-image: url("/numbers/2.png");
}

.card3 {
  background-image: url("/numbers/3.png");
}

.cardContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
  transition: transform 0.3s cubic-bezier(easeInOut);
}

.card:hover .cardContent {
  /* transform: translate(-50%, -50%) scale(1.05); */
}

.number {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin: 0;
  width: 345px;
  transition: color 0.3s cubic-bezier(easeInOut);
}

.card:hover .number {
  /* color: #2ac293; */
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin: 0;
  white-space: nowrap;
}

.decorativeCircle1,
.decorativeCircle2 {
  position: absolute;
  width: 273px;
  height: 273px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(42, 194, 147, 0.1) 0%,
    transparent 70%
  );
  pointer-events: none;
  z-index: 0;
}

.decorativeCircle1 {
  top: -58.61%;
  right: -58.61%;
}

.decorativeCircle2 {
  bottom: -58.61%;
  left: -58.61%;
}
