.trustedBy {
  position: relative;
  background-color: #000000;
  padding: 60px 0 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 39px;
}

.line {
  width: 230px;
  height: 1px;
  background: linear-gradient(to right, rgba(153, 153, 153, 0), #ffffff);
}

.lineReversed {
  width: 230px;
  height: 1px;
  background: linear-gradient(to left, rgba(153, 153, 153, 0), #ffffff);
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #a1a1aa;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.logos {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logoPlaceholder {
  background-color: #474747;
  opacity: 0.3;
  border-radius: 10px;
  width: 112px;
  height: 48px;
  flex-shrink: 0;
}
