.trustedBy {
  position: relative;
  background-color: #000000;
  padding: 70px 0 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.line {
  width: 230px;
  height: 1px;
  background: linear-gradient(to right, rgba(153, 153, 153, 0), #ffffff);
}

.lineReversed {
  width: 230px;
  height: 1px;
  background: linear-gradient(to left, rgba(153, 153, 153, 0), #ffffff);
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #a1a1aa;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  border-radius: 50000px;
  border: 1px solid #fff;
  opacity: 0.6;
  padding: 10px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logoPlaceholder {
  border-radius: 10px;
  width: 112px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

.logoImage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logoImage1 {
  height: 24px;
}

.logoImage2 {
  height: 33px;
}

.logoImage3 {
  height: 9px;
}

.logoImage4 {
  height: 10px;
}

/* Responsive Design */

/* 1540x746 */
@media (max-width: 1540px) {
  .trustedBy {
    padding: 50px 0 50px;
  }

  .header {
    margin-bottom: 20px;
  }

  .line,
  .lineReversed {
    width: 180px;
  }

  .logos {
    gap: 25px;
  }

  .logoPlaceholder {
    width: 89px;
    height: 38px;
  }
}

/* 1280x631 */
@media (max-width: 1280px) {
  .trustedBy {
    padding: 50px 0 40px;
  }

  .line,
  .lineReversed {
    width: 150px;
  }

  .label {
    font-size: 9px;
  }

  .logos {
    gap: 21.5px;
  }

  .header {
    margin-bottom: 18px;
  }

  .logoPlaceholder {
    width: 76px;
    height: 32px;
  }

  .logoImage1 {
    height: 20px;
  }

  .logoImage2 {
    height: 28px;
  }

  .logoImage3 {
    height: 8px;
  }

  .logoImage4 {
    height: 8px;
  }
}

/* 744x1130 (Mobile Portrait) - Hide */
@media (max-width: 744px) {
  .trustedBy {
    display: none;
  }
}

/* 480x716 (Small Mobile) - Hide */
@media (max-width: 480px) {
  .trustedBy {
    display: none;
  }
}
