.trustedBy {
  position: relative;
  background-color: #000000;
  padding: 70px 0 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 41px;
}

.line {
  width: 230px;
  height: 1px;
  background: linear-gradient(to right, rgba(153, 153, 153, 0), #ffffff);
}

.lineReversed {
  width: 230px;
  height: 1px;
  background: linear-gradient(to left, rgba(153, 153, 153, 0), #ffffff);
}

.label {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  border-radius: 50000px;
  border: 1px solid #fff;
  opacity: 0.8;
  padding: 7px 18px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 92px;
}

.logoPlaceholder {
  border-radius: 10px;
  width: 123px;
  height: 94px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.logoImage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logoImage1 {
  height: 40px;
}

.logoImage2 {
  height: 68px;
}

.logoImage3 {
  height: 20px;
}

.logoImage4 {
  height: 20px;
}

/* Responsive Design */

/* 1540x746 */
@media (max-width: 1540px) {
  .trustedBy {
    padding: 56px 0;
  }

  .header {
    margin-bottom: 42px;
  }

  .label {
    font-size: 10px;
    padding: 0;
    width: 207px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line,
  .lineReversed {
    width: 180px;
  }

  .logos {
    gap: 49px;
  }

  .logoPlaceholder {
    height: 54px;
  }

  .logoImage1 {
    height: 34px;
  }

  .logoImage2 {
    height: 61px;
  }
  .logoImage3 {
    height: 11px;
  }

  .logoImage4 {
    height: 10px;
  }
}

/* 1280x631 */
@media (max-width: 1280px) {
  .trustedBy {
    padding: 50px 0 40px;
  }

  .line,
  .lineReversed {
    width: 150px;
  }

  .label {
    width: 205px;
    height: 22px;
    font-size: 10px;
  }

  .logos {
    gap: 45px;
  }

  .header {
    margin-bottom: 42px;
  }

  .logoPlaceholder {
    width: 76px;
    height: 39px;
    padding: 0;
  }

  .logoImage1 {
    height: 20px;
  }

  .logoImage2 {
    height: 35px;
  }

  .logoImage3 {
    height: 8px;
  }

  .logoImage4 {
    height: 8px;
  }
}

/* 744x1130 (Mobile Portrait) */
@media (max-width: 900px) {
  .trustedBy {
    padding: 80px 0;
  }

  .header {
    margin-bottom: 44px;
  }

  .label {
    height: 43px;
    width: 264px;
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    padding: 0 30px;
    row-gap: 78px;
  }

  .logoPlaceholder {
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .logoImage1 {
    height: 68px;
  }

  .logoImage2 {
    height: 119px;
  }

  /* .logoPlaceholder:nth-child(3) {
    order: 4;
  }

  .logoPlaceholder:nth-child(4) {
    order: 3;
  } */

  .logoImage3 {
    height: 32px;
  }

  .logoImage4 {
    height: 25px;
  }
}

/* 480x716 (Small Mobile) - Hide */
@media (max-width: 480px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    padding: 0 16px;
    row-gap: 38px;
  }

  .trustedBy {
    padding: 40px 0;
  }
  .header {
    margin-bottom: 22px;
  }

  .label {
    height: 32px;
    width: 187px;
    font-size: 10px;
    color: #fff;
    font-family: Manrope;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoPlaceholder {
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: auto;
  }

  .logoImage1 {
    height: 30px;
  }

  .logoImage2 {
    height: 53px;
  }

  .logoPlaceholder:nth-child(3) {
    order: 4;
  }

  .logoPlaceholder:nth-child(4) {
    order: 3;
  }

  .logoImage3 {
    height: 13px;
  }

  .logoImage4 {
    height: 16px;
  }
}
